body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* background: color image repeat position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #fff
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}
